.response-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: none;
  gap: 12px;
}

.response-logo-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 32px;
}

.ai-icon {
  width: 32px;
  height: 32px;
  background: linear-gradient(93.19deg, #e5686c 0%, #6366f1 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    4px 4px 16px 0px #7067e433,
    1px 1px 4px 0px #d9687826;
}

.response-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 12px;
  background-color: none;
}
.response-content-area {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 684px;
  height: fit-content;
  border-radius: 16px;
  padding: 16px;
  background-color: #f3f3f6;
  box-shadow:
    1px 1px 2px 0px #12121414,
    1px 1px 2px 0px #ffffff inset;
  gap: 16px;
}

.response-content-area-text {
  font-size: 16px;
  text-wrap: wrap;
  font-weight: 400;
  line-height: 24px;
  color: #121214;
  max-width: 618px;
}

.response-content-area-visualization {
  width: 652px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 16px;
}

.response-interaction-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
