@import '../../Styles/Variables/Settings.colors.scss';
@import '../../Styles/Variables/Settings.typo.scss';
@import '../../Styles/Variables/Settings.box.scss';

.aiFailureContainer {
  display: flex;
  flex-direction: row;
  gap: $spacing-3x;
  font-family: Inter;
  margin-top: $spacing-4x;
  margin-bottom: $spacing-4x;
}

.aiFailureIcon {
  width: $icon-size-32;
  height: $icon-size-32;
  background: linear-gradient(93.19deg, #e5686c 0%, #6366f1 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    4px 4px 16px 0px #7067e433,
    1px 1px 4px 0px #d9687826;
}

.aiFailureMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: $spacing-1x;
}

.aiFailureText {
  font-size: $type-size-s;
  font-weight: $font-weight-regular;
  line-height: $type-line-height-s;
  color: $alias-type-primary;
}

.aiFailureRegenerateButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.aiFailureRegenerateButtonIcon {
  width: $icon-size-16;
  height: $icon-size-16;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aiFailureRegenerateButtonText {
  font-size: $type-size-xs;
  font-weight: $font-weight-regular;
  line-height: $type-line-height-xs;
  color: #2a4fd6;
}
