/*border-radius*/
$border-radius-l: 12px;
$border-radius-soft: 24px;
$border-radius-extra-soft: 32px;
$border-radius-full: 99px;

/*spacing*/
$spacing-1halfx: 6px;
$spacing-2halfx: 10px;
$spacing-2x: 8px;
$spacing-3x: 12px;
$spacing-4x: 16px;
$spacing-6x: 24px;

/*icon-size*/
$icon-size-16: 16px;
$icon-size-14: 14px;
$icon-size-12: 12px;
