/* Core */
$universal-white: #ffffff;
$universal-black: #000000;
$universal-black40: #00000040;
$universal-white40: #ffffff40;
$nova-blaze: #bb2626;

/* Morning Fog */
$morning-fog-500: #c6c6c9;
$morning-fog-700: #dfdfe2;
$morning-fog-850: #f3f3f6;
$morning-fog-900: #f8f8fb;

/*midnight-black*/
$midnight-black-700: #2e2e30;

/*alias-type*/
$alias-type-primary: #121214;
$alias-type-secondary: #5d5d5e;
$alias-type-placeholder: #8b8b8c;

/*icon-colors*/
$icon-tertiary: #747475;
$icon-secondary: #454547;

/*border-colors*/
$border-primary: #213ea7;

/*background-colors*/
$background-primary: #2a4fd6;
