/*font-size*/
$type-size-2xs: 12px;
$type-size-xs: 14px;
$type-size-s: 16px;
$type-size-4xl: 36px;

/*font-weight*/
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/*line-height*/
$type-line-height-2xs: 18px;
$type-line-height-xs: 21px;
$type-line-height-s: 24px;
$type-line-height-4xl: 48px;
