.promptedTextContainer {
  display: flex;
  min-width: 40px;
  width: fit-content;
  text-wrap: wrap;
  height: fit-content;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  border-radius: 16px;
  background-color: #f3f3f6;
  box-shadow:
    1px 1px 2px 0px #12121414,
    1px 1px 2px 0px #ffffff inset;
  margin-top: 32px;
  margin-left: auto;
}
.promptedTextContent {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #121214;
  max-width: 634px;
  flex-wrap: wrap;
  text-wrap: wrap;
}
