@import '../../Styles/Variables/Settings.colors.scss';
@import '../../Styles/Variables/Settings.typo.scss';
@import '../../Styles/Variables/Settings.box.scss';

.promptedTextContainer {
  display: flex;
  min-width: 40px;
  width: fit-content;
  text-wrap: wrap;
  height: fit-content;
  align-items: center;
  justify-content: flex-end;
  padding: $spacing-4x;
  border-radius: $border-radius-xl;
  background-color: $morning-fog-850;
  box-shadow:
    1px 1px 2px 0px #12121414,
    1px 1px 2px 0px $universal-white inset;
  margin-top: 32px;
  margin-left: auto;
  border: 2px solid transparent;
  transition: border-color 0.2s ease;

  &.error {
    border: 1px solid $nova-blaze;
  }
}
.promptedTextContent {
  font-size: $type-size-s;
  font-weight: $font-weight-regular;
  line-height: $type-line-height-s;
  color: $alias-type-primary;
  max-width: 634px;
  text-wrap: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
